.loadingContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.loadingText {
    color: green;
    font-weight: bolder;
    letter-spacing: 2px;
}
